/* main1.css */

.container {
  padding-left: 3.5rem;
  display: flex;
}

.main1 {
  width: 70%;
  height: 38rem;
  border-right: 1px solid #ebebeb;
}

.topPart {
  margin-right: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 0.5rem 0; */
  border-bottom: 1.5px solid #ebebeb;
}

.tabList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.completed,
.Review {
  padding: 0.5rem 1rem;
  cursor: pointer;
  color: rgb(161, 179, 193);
  font-size: 0.9rem;
  font-weight: 400;
}

.work {
  border-right: 1px solid rgb(216, 226, 238);
  margin-right: 1rem;
  padding: 0.5rem 1rem;
  color: black;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 500;
}

.Review.active {
  color: black;
  border-bottom: 2px solid rgb(99, 102, 241);
}
.completed.active {
  color: black;
  border-bottom: 2px solid rgb(99, 102, 241);
}

.filterSection {
  display: flex;
  align-items: center;
  padding-inline: 1rem;
}

.filterButton {
  padding: 0.5rem 1rem;
  margin-right: 0.5rem;
  cursor: pointer;
  color: rgb(161, 179, 193);
  border: none;
  border-radius: 0.25rem;
  background-color: none;
  font-size: 0.7rem;
  font-weight: 400;
}

.filterSelect {
  width: 7rem;
  height: 1.3rem;
  cursor: pointer;
  border: 1px solid rgb(161, 179, 193);
  font-family: "Roboto", sans-serif;
  font-size: 0.7rem;
  outline: none;
  padding-inline: 0.3rem;
  border-radius: 4px;
  color: rgb(99, 102, 241);

  > option {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    color: rgb(99, 102, 241);
  }
}

/* completed css  -   inReview css  */
.bottomPart1 {
  margin-inline: 2.3rem;
  padding-inline: 2.4rem;

  width: 95%;
}

.bottomPart2 {
  margin-inline: 2.3rem;
  padding-inline: 1.5rem;

  width: 95%;
}

.card {
  display: flex;
  justify-content: space-between;
  margin-top: 0.6rem;
  padding-inline: 1rem;
  transition: all 0.3s ease-in-out;
  border-radius: 7px;
}

.card:hover {
  background-color: rgb(241, 245, 249);
}

.header {
  display: flex;
  align-items: center;

  > img {
    width: 4.1rem;
    height: 4.1rem;
    margin-right: 1.2rem;
  }
}

.no {
  color: black;
}

.taskDetails {
  flex-grow: 1;
}

.taskTitle {
  font-size: 1rem;
  font-weight: 500;
  color: #333;
  margin-bottom: 0.8rem;
}

.by {
  font-size: 0.8rem;
  font-weight: 400;
  color: #94a3b8;
}

.company {
  font-size: 1rem;
  color: #94a3b8;
  font-weight: 500;
}

.taskMeta,
.taskMeta1,
.taskMeta2,
.taskMeta3 {
  font-size: 0.6rem;
  text-align: center;
  padding: 0.2rem 0.4rem;
  border-radius: 2.5px;
  display: inline-flex;
  align-items: center;
}
.taskMeta {
  color: #5ea8c4;
  background-color: #eff6f8;
}

.taskMeta1 {
  color: #8948f2;
  background-color: #f2edff;
}

.taskMeta2 {
  color: #8948f2;
  background-color: #f2edff;
}

.taskMeta3 {
  color: #ff8370;
  background-color: #fff2eb;
}
.content {
  padding: 1rem;

  > p {
    margin-bottom: 0.7rem;
    font-size: 14px;
    color: rgb(100, 117, 139);
  }
}

.contentDescription {
  font-size: 1rem;
  color: #666;
}
.date {
  margin-left: 1.3rem;
}

/* completed css */

.com {
  display: flex;

  > p {
    margin-inline: 0.5rem;
  }
}

.dollar {
  color: black;
  font-size: 1rem;
  font-weight: 600;
}

.priceColour {
  font-size: 1rem;
  font-weight: 500;
  color: rgb(100, 117, 139);
}

.place {
  font-size: 0.8rem;
  font-weight: 300;
  color: rgb(100, 117, 139);
}

.leftPart {
  padding: 1rem 2rem;

  .searchBox {
    border-radius: 5rem;
    padding: 0.5rem 1rem;
    width: 18rem;
    background-color: #f1f5f9;
    display: flex;
    align-items: center;

    > span {
      color: #64758b;
      margin-right: 0.5rem;
    }
    > input {
      width: 100%;
      border: none;
      outline: none;
      background-color: transparent;
      font-family: "Inter";
      font-size: 14px;

      &::placeholder {
        font-family: "Inter";
        color: #64758b;
      }
    }
  }
}

.search-input::placeholder {
  color: rgb(44, 55, 71);
}
